In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
#os.getcwd()

In [3]:
os.chdir('C:\\Users\\A Sua\\Documents\\FIU\\CAP2020\\data\\external\\av_data\\sp500')

In [4]:
temp_df = pd.read_csv(os.listdir()[3])
temp_df.head()

,date,AAPL_open,AAPL_high,AAPL_low,AAPL_close,AAPL_volume,AAPL_return
0,2020-03-31,255.60,262.49,252.00,254.29,49039414.0,-0.005125
1,2020-03-30,250.74,255.52,249.40,254.81,41994110.0,0.016232
2,2020-03-27,252.75,255.87,247.05,247.74,51054153.0,-0.019822
3,2020-03-26,246.52,258.68,246.36,258.44,63140169.0,0.048353
4,2020-03-25,250.75,258.25,244.30,245.52,75900510.0,-0.020857

In [5]:
temp_df['date'] = pd.to_datetime(temp_df['date'])
temp_df.head()

,date,AAPL_open,AAPL_high,AAPL_low,AAPL_close,AAPL_volume,AAPL_return
0,2020-03-31,255.60,262.49,252.00,254.29,49039414.0,-0.005125
1,2020-03-30,250.74,255.52,249.40,254.81,41994110.0,0.016232
2,2020-03-27,252.75,255.87,247.05,247.74,51054153.0,-0.019822
3,2020-03-26,246.52,258.68,246.36,258.44,63140169.0,0.048353
4,2020-03-25,250.75,258.25,244.30,245.52,75900510.0,-0.020857

In [6]:
df_length = len(temp_df[(temp_df['date'] >= '2006-12-29') & (temp_df['date'] <= '2020-03-31')])
df_length

3335

In [7]:
temp_df.head()

,date,AAPL_open,AAPL_high,AAPL_low,AAPL_close,AAPL_volume,AAPL_return
0,2020-03-31,255.60,262.49,252.00,254.29,49039414.0,-0.005125
1,2020-03-30,250.74,255.52,249.40,254.81,41994110.0,0.016232
2,2020-03-27,252.75,255.87,247.05,247.74,51054153.0,-0.019822
3,2020-03-26,246.52,258.68,246.36,258.44,63140169.0,0.048353
4,2020-03-25,250.75,258.25,244.30,245.52,75900510.0,-0.020857

In [ ]:
# df_price07_20 = pd.DataFrame([])
# df_return07_20 = pd.DataFrame([])

# temp_name= file.split('.')[0]
# price_name = temp_name +'_close'
# ret_name = temp_name+'_return'

# temp_price = pd.DataFrame(temp_df[price_name], columns=[temp_name])
# temp_return = pd.DataFrame(temp_df[ret_name], columns=[temp_name])

In [ ]:
#temp_price.T

In [8]:
df_price07_20 = pd.DataFrame([])
df_return07_20 = pd.DataFrame([])
error_list = []

for file in os.listdir():
    try:
        temp_name= file.split('.')[0]
        price_name = temp_name +'_close'
        ret_name = temp_name+'_return'

        temp_df = pd.read_csv(file)
        
        temp_df['date'] = pd.to_datetime(temp_df['date'])
        temp_df = temp_df[(temp_df['date'] >= '2006-12-29') & (temp_df['date'] <= '2020-03-31')]
        temp_df.index = temp_df['date']

        value = temp_df.shape[0]
        if value == df_length:
            temp_price = temp_df[price_name]
            temp_return = temp_df[ret_name]
            temp_price.name = temp_name
            temp_return.name = temp_name
            #print('{} has length: {}'.format(temp_name, value))
            df_price07_20 = pd.concat([df_price07_20, temp_price], axis=1)
            df_return07_20 = pd.concat([df_return07_20, temp_return], axis=1)                
        else:
            pass

    except:
        error_list.append(file)

In [10]:
#df_return07_20['SPX'][:50]

In [12]:
#df_return07_20[df_return07_20.index>=pd.to_datetime('2020-01-01')]['SPX'].sort_values()

In [ ]:
#df_price07_20

In [13]:
df_price07_20.to_csv('C:\\Users\\A Sua\\Documents\\FIU\\CAP2020\\data\\processed\\df_price07_20.csv')
df_return07_20.to_csv('C:\\Users\\A Sua\\Documents\\FIU\\CAP2020\\data\\processed\\df_return7_20.csv')